<?xml version="1.0"?>
<!--
/**
 * @author    Sutunam
 * @copyright Copyright (c) 2024 Sutunam (http://www.sutunam.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="linked" xsi:type="array">
                    <item name="class" xsi:type="string">
                        Sutunam\LinkedProduct\Ui\DataProvider\Product\Form\Modifier\Linked
                    </item>
                    <item name="sortOrder" xsi:type="number">115</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
