<?xml version="1.0"?>
<!--
/**
 * @author    Sutunam
 * @copyright Copyright (c) 2024 Sutunam (http://www.sutunam.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="linked_product" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Linked Product</label>
            <tab>sutunam</tab>
            <resource>Sutunam_LinkedProduct::config_linked_product</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_on_plp" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show on product listing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="show_on_pdp" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show on product view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="show_attribute_text" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show attribute text</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="show_available_products_count" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show available linked products count on product listing instead of the actual products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="show_on_plp">1</field>
                    </depends>
                </field>
                <field id="show_stock_status" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show stock status</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="show_stock_status_text_on_plp" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show stock status text on product listing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="show_stock_status">1</field>
                        <field id="show_on_plp">1</field>
                    </depends>
                </field>
                <field id="show_stock_status_text_on_pdp" translate="label" type="select" sortOrder="1"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show stock status text on product view</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="show_stock_status">1</field>
                        <field id="show_on_pdp">1</field>
                    </depends>
                </field>
            </group>
            <group id="mapping" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mapping</label>
                <field id="products_count_text" translate="label" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Available products count text</label>
                    <frontend_model>Sutunam\LinkedProduct\Block\Adminhtml\Form\Field\Attributes</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
